body {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table.mainTable {
    border: 2px solid black;
    border-spacing: inherit;
    float: left;
}

.root {
    display: inline-flex;
}

.sidebar {
    width: 10vw;
    font-family: sans-serif;
    font-size: x-large;
    border: 2px dashed darkgreen;
    background-color: #80e080;
    margin: 75px;
    height: 100%;
}

.sidebar .small {
    font-size: xx-small;
    color: white;
    word-wrap: break-word;
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.sidebar table {
    width: 100%;
    text-align: center;
    font-size: small;
    border-spacing: 0px;
    border-collapse: collapse;
}

.sidebar td {
    border: 1px darkgreen solid;
    width: 100px

}

.round {
    box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.75);
}

.shadow {
    border-radius: 5px;
}

table.mainTable tr {
    font-family: sans-serif;
    margin: 0px;
}

.cont {
    width: 15px;
    height: 15px;
    border: 1px solid #80e080;
    margin: -1px;
    text-align: center;
    color: white !important;
    font-size: x-small;
}

.cont-lg {
    width: 50px;
    height: 50px;
    font-size: xx-large;
    margin-left: auto;
    margin-right: auto;
}

.loading {
    text-align: center;
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    font-family: "Comic Sans MS";
    font-size: small;
    z-index: 100;
}

.loading-bg {
    background-color: rgba(251, 240, 228, 0.6);

}

.loading-bg-opaque {
    background: rgba(251, 240, 228, 1);
}

.statusbar {
    width: 100%;
    height: 10%;
    padding: 0px;
    margin: 0px;
    background-color: red;
}

.statusbar .fill {
    height: 100%;
    background-color: green;
}

@keyframes shaking {
    0% {
        transform: translate(2px, 1px);
    }
    10% {
        transform: translate(-1px, -2px);
    }
    20% {
        transform: translate(-3px, 0px);
    }
    30% {
        transform: translate(0px, 2px);
    }
    40% {
        transform: translate(1px, -1px);
    }
    50% {
        transform: translate(-1px, 2px);
    }
    60% {
        transform: translate(-3px, 1px);
    }
    70% {
        transform: translate(2px, 1px);
    }
    80% {
        transform: translate(-1px, -1px);
    }
    90% {
        transform: translate(2px, 2px);
    }
    100% {
        transform: translate(1px, -2px);
    }
}
@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}