<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" ng-app="life">
<head>
    <meta charset="utf-8">
    <title>lyfe</title>
    <script src="js/lib/jquery-1.12.0.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/seedrandom.min.js"></script>
    <link rel="stylesheet" href="css.css" type="text/css">
</head>

<body ng-controller="testCtrl" ng-class="(ready)?'':'loading-bg'" draggable="false">
<div class="loading-bg" ng-hide="ready">
    <div class="loading loading-bg-opaque">
        loading <br>
        <img src="img/pusheen.gif"/>
    </div>
    <div style="height: 100vh; width: 100vw; position: fixed;" class="loading-bg"></div>
</div>
<div style="width: 100%; text-align: center">
    <div class="root">
        <div class="sidebar round">
            <table>
                <tr>
                    <th>Key</th>
                    <th>Function</th>
                </tr>
                <tr ng-repeat="h in help">
                    <td>{{h.key}}</td>
                    <td>{{h.f}}</td>
                </tr>
            </table>
        </div>
        <div>
            <div class="mainTable shadow" draggable="false">
                <div ng-repeat="row in field track by $index">
                    <div ng-repeat="c in row track by c.id + c.char">
                        <a ng-click="click(c)" ng-mouseover="mouseover(c)">
                            <div class="cont" style="background-color: {{c.col.toString()}}; {{c.contStyle}} ">
                                <div class="statusbar" ng-show="c.status" style="opacity: {{1-(c.status()/100)}}">
                                    <div class="fill" style="width: {{c.status()}}%"></div>
                                </div>
                                <div style="{{c.style}}">
                                    {{c.char}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar round">
            <table>
                <tr>
                    <th>var</th>
                    <th>val</th>
                </tr>
                <tr>
                    <td>
                        Brush:
                    </td>
                    <td>
                        <div class="cont cont-lg"
                             style="border: 1px black solid; background-color: {{paintTool.previewBrush.col.toString()}}">
                            {{paintTool.previewBrush.char}}
                        </div>
                        <div class="small">&nbsp{{paintTool.rem}}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Tile:
                    </td>
                    <td>
                        <div class="cont cont-lg"
                             style="border: 1px black solid; background-color: {{currentTile.col.toString()}}; {{currentTile.contStyle}}">
                            <div class="statusbar" ng-show="currentTile.status">
                                <div class="fill" style="width: {{currentTile.status()}}%"></div>
                            </div>
                            <div style="{{currentTile.style}}">
                                {{currentTile.char}}
                            </div>
                        </div>
                        <div class="small" ng-repeat="(key,value) in currentTile.printParam()">
                            {{key}}:{{value}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Time:
                    </td>
                    <td>
                        {{elapsedTime}}
                    </td>
                </tr>
                <tr>
                    <td>
                        FPS:
                    </td>
                    <td>
                        {{FPS}}
                    </td>
                </tr>
                <tr>
                    <td>
                        counts:
                    </td>
                    <td>
                        <div class="small" ng-repeat="(key,value) in amounts">
                            {{key}}:{{value}}
                        </div>
                    </td>

                </tr>

            </table>
        </div>
    </div>
</div>
</body>

<script src="js/conf.js"></script>
<script src="js/lib.js"></script>
<script src="js/main.js"></script>

</html>